doctype html
html
    head
        title 25.7-index
        link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
        link(
            rel="stylesheet" 
            href="index.css"
        )
    body
        h3.title Strona do nauki Express.js. Aby zalogować się poprzez konto Google naciśnij przycisk.
        a.btn(href='/auth/google') Przejdź do logowania