html
  head
    title 25.7-logged
    link(
      rel="stylesheet" 
      href="logged.css"
    )
  body
    img(src='google.gif' alt='logged')
    h1.userName Cześć #{user.displayName}.
    include ./footer.pug